<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title>Your Best Tweets</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 22px 0 0 0;
      margin: 0px;
      font-family: Arial, sans-serif;
      font-size: 18px;
      line-height: 23px;
    }
    p {
      margin: 0 0 0.5em 0;
    }
    .certificate {
      border: 2px solid #000;
      padding: 3px;
    }
      .certificate-inner {
        border: 5px solid #000;
        padding: 0 10px;
      }
        img.logo {
          position: absolute;
          top: 0px;
          left: 167px;
        }
        h1 {
          font-family: georgia, serif;;
          font-style: italic;
          font-weight: normal;
          font-size: 36px;
          text-align: center;
          word-wrap: break-word;
          line-height: 30px;
          margin: 26px 0 4px 0;
          padding: 5px 0;
        }

        .error {
          padding: 0 5px 10px 5px;
        }
          .error h2 {
            text-align: center;
            margin: 10px 0;
            font-size: 24px;
          }

        .intro {
          text-align: center;
        }
          .user {
            display: inline;
            text-align: left;
          }
            .user strong {
              font-size: 20px;
            }
            img.avatar {
              margin-right: 10px;
              border-radius: 5px;
              display: inline-block;
              vertical-align: top;
            }
            .user .names {
              display: inline-block;
            }
            img.avatar,
            .user .names {
              margin-bottom: 10px;
            }

        ol {
          list-style-type: none;
          padding: 0;
          margin: 0 0 20px 0;
        }
          li {
            margin: 7px 0 0 0;
            background: url(<%= domain %>/img/hr.png) 0 0 no-repeat;
            padding: 22px 0 0 0;
          }
            .position {
              display: inline-block;
              width: 10px;
              margin: 0 5px 0 5px;
              vertical-align: top;
              font-weight: bold;
            }
            .content {
              display: inline-block;
              width: 314px;
              margin: 0 5px 0 0;
            }
              .about {
                font-size: 14px;
              }
              .about strong {
                font-weight: bold;
                font-size: 18px;
              }
              .date {
                white-space: nowrap;
              }
  </style>
</head>
<body>
  <div class="certificate">
    <div class="certificate-inner">
      <img class="logo" src="<%= domain %>/img/twitter_logo.png" width="55" height="55" alt="Twitter logo" />

      <h1><img src="<%= domain %>/img/h1.png" width="289" height="43" alt="Your Best Tweets" /></h1>

      <%= yield %>

    </div> <!-- .certificate-inner -->
  </div> <!-- .certificate -->
</body>
</html>